@inject IJSRuntime JSRuntime;

<select class="form-control col-3" @onchange="OnChangeEvent">
    @if (@Cities != null)
    {
        <option value="">select city..</option>
        @foreach (var city in Cities)
        {
            <option value="@city">@city</option>
        }
    }
</select>

@code{
    [Parameter]
    public string CurrentCity { get; set; }
    public string[] Cities { get; set; }
    [Parameter]
    public EventCallback<ChangeEventArgs> OnChangeEvent {get; set;}
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && Cities == null)
        {
            Cities = await JSRuntime.InvokeAsync<string[]>("getCities");
            StateHasChanged();
        }
    }
}